.projects-container {
    padding: 50px;
}

.projects-container .text {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
    color: #fff;
    margin-top: 10px;
}

.project-details {
    display: flex;
    gap: 50px;
    margin-bottom: 30px;
    color: #a09f99;
}

.project-details .project-image {
    margin-top: 30px;
    object-fit: cover;
    border-radius: 10px;
    height: 250px;
}

.image-link {
    display: block;
}

.year {
    color: #a09f99;
}

.project-name {
    font-size: 16.5px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
}

.dark-theme .project-name {
    color: #fff;
}

.light-theme .project-name {
    color: #000;
}

.case-study-link {
    text-underline-offset: 5px;
    color: #fff;
}

.dark-theme .case-study-link {
    color: #fff;
}

.light-theme .case-study-link {
    color: #000;
}

.case-study-link .icon {
    text-decoration: underline;
}

@media (min-width: 768px) {
    .projects-container {
        margin-left: 330px;
    }
    .project-image {
        width: 460px;
    }
    .image-link {
        width: 460px;
    }
}

@media (min-width: 992px) {
    .project-details {
        width: 500px;
    }
}

@media (max-width: 600px) {
    .project-image {
        width: 97%;
    }
    .project-details {
        flex-wrap: wrap;
        gap: 15px;
        width: 100%;
        text-align: justify;
    }
    .image-link {
        width: 370px;
    }
}

@media (min-width: 768px) {
    .projects-container {
        padding: 50px;
    }
}

@media (max-width: 600px) {
    .projects-container {
        padding: 20px;
    }
}