.error-container {
  background: url("../../assets/images/404\ Page.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.error-text h3 {
  font-family: "Concert One", sans-serif;
}
