.about-container {
    margin-top: 90px;
}

.about-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-first-image>img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 30px;
    transform: rotate(-10deg);
}

.about-second-image>img {
    width: 200px;
    height: 230px;
    object-fit: cover;
    border-radius: 30px;
    transform: rotate(10deg);
    margin-left: -30px;
}

.about-third-image>img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 30px;
    transform: rotate(-10deg);
    margin-left: -30px;
}

.about-fourth-image>img {
    width: 200px;
    height: 230px;
    object-fit: cover;
    border-radius: 30px;
    transform: rotate(10deg);
    margin-left: -40px;
}