.about-container {
    margin-top: 90px;
    padding-top: 60px;
}

.about-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-first-image>img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 30px;
    transform: rotate(-10deg);
}

.about-second-image>img {
    width: 200px;
    height: 230px;
    object-fit: cover;
    border-radius: 30px;
    transform: rotate(10deg);
    margin-left: -30px;
}

.about-third-image>img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 30px;
    transform: rotate(-10deg);
    margin-left: -30px;
}

.about-fourth-image>img {
    width: 200px;
    height: 230px;
    object-fit: cover;
    border-radius: 30px;
    transform: rotate(10deg);
    margin-left: -40px;
}

.about-me-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    margin-top: 100px;
}

.about-me-details {
    width: 400px;
}

.about-me-title>h5 {
    color: #a1a09a;
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}