.contact-container {
    margin-top: 100px;
    color: #fff;
}

.contact-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.contact-text {
    width: 400px;
}