.heropage-container {
    margin-top: 90px;
    padding: 50px;
}

.main-text {
    display: flex;
    flex-direction: column;
}

.main-text h6 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}

.main-text p {
    margin-top: -30px;
}

@media (min-width: 768px) {
    .main-text {
        margin-left: 370px;
    }
}

.main-text h6 {
    color: #fff;
}

.main-text p {
    color: #a09f99;
}