.heropage-container {
    margin-top: 90px;
    padding: 50px;
}

.main-text {
    display: flex;
    flex-direction: column;
}

.main-text h6 {
    color: #fff;
}

.main-text p {
    color: #a09f99;
}