.heropage-container {
    padding: 50px;
}

@media (min-width: 768px) {
    .heropage-container {
        padding: 50px;
        margin-top: 50px;
    }
}

@media (max-width: 600px) {
    .heropage-container {
        padding: 20px;
        margin-top: 80px;
    }
}

.main-text {
    display: flex;
    flex-direction: column;
}

.main-text h6 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}

.main-text p {
    margin-top: 30px;
}

@media (min-width: 768px) {
    .main-text {
        margin-left: 330px;
        width: 500px;
    }
}

.main-text h6 {
    color: #fff;
}

.main-text p {
    color: #a09f99;
}