* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #161615;
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
}

.light-theme h6,
h5 {
    color: #000 !important;
}